<!DOCTYPE html>
<html>
  <head>
    <title>{{ .Title }}</title>
    <style>
      body  {
        background-image: url({{ .Background }});
        background-repeat: y-repeat;
        background-size: 250px 250px;
      }
    </style>
    <script type="text/javascript" src="https://platform.linkedin.com/badges/js/profile.js" async defer></script>
  </head>
  <body>
    <div class="LI-profile-badge"  align="center" data-version="v1" data-size="medium" data-locale="en_US" data-type="vertical" data-theme="dark" data-vanity="jorge-gasca"><a class="LI-simple-link" href='https://www.linkedin.com/in/jorge-gasca?trk=profile-badge'>Jorge Gasca Cervantes</a></div>
    <a href="">
      <img></img>
    </a>
  </body>
</html>
